---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Entry from '@/components/Entry.astro'
import Main from '@/layouts/Main.astro'

// Generate static paths for all identity pages
export async function getStaticPaths() {
  const identityPages = await getCollection('i-am-a', ({ data }) => !data.draft)

  return identityPages.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { description, title } = entry.data
---

<Layout
  title={`${title} - Luke McDonald`}
  description={description}
  contentType="page"
>
  <Main>
    <Entry entry={entry} />
  </Main>
</Layout>
