node_modules

# React Router
/.cache
/build
/public/build
.react-router/

# Tailwind
/app/styles/tailwind.css

# Environment variables
.env
.env.local
.env.*.local

# Allow example files
!.env.example

# Misc
.vscode
.DS_Store

# Sentry Config File
.sentryclirc
