---
import Link from '@/components/Link.astro'

const endpoints = [
  '/api/resume.json',
  '/api/resume/awards.json',
  '/api/resume/basics.json',
  '/api/resume/education.json',
  '/api/resume/experience.json',
  '/api/resume/personal.json',
  '/api/resume/skills.json',
]
---

<footer class="print:hidden">
  <nav>
    <span>Endpoints:</span>
    {endpoints.map((endpoint) => <Link href={endpoint}>{endpoint}</Link>)}
  </nav>
</footer>
