---
const endpoints = [
  '/api/resume.json',
  '/api/resume/awards.json',
  '/api/resume/basics.json',
  '/api/resume/education.json',
  '/api/resume/experience.json',
  '/api/resume/personal.json',
  '/api/resume/skills.json',
]
---

<footer class="mt-12 flex gap-x-2 opacity-35 hover:opacity-100 print:hidden">
  <h2 class="not-prose">Endpoints:</h2>
  <nav class="flex flex-wrap gap-x-2">
    {
      endpoints.map((endpoint) => (
        <a
          href={endpoint}
          rel="nofollow noindex"
        >
          {endpoint}
        </a>
      ))
    }
  </nav>
</footer>
