---
import Link from '@/components/Link.astro'

const endpoints = [
  '/api/resume.json',
  '/api/resume/awards.json',
  '/api/resume/basics.json',
  '/api/resume/education.json',
  '/api/resume/experience.json',
  '/api/resume/personal.json',
  '/api/resume/skills.json',
]
---

<footer class="print:hidden">
  <nav>
    <span>Endpoints:</span>
    {
      endpoints.map((endpoint) => (
        <a
          href={endpoint}
          rel="nofollow noindex"
          class="border-b-2 border-transparent no-underline hover:border-primary-500"
        >
          {endpoint}
        </a>
      ))
    }
  </nav>
</footer>
