---
import { Signature as PersonalIcon } from '@lucide/astro'

import Section from '@/features/resume/components/ui/Section.astro'

export interface Props {
  personal: string[]
}

const { personal } = Astro.props
---

<Section
  title="Personal"
  items={personal}
  icon={PersonalIcon}
>
  <template slot="item">
    {(item: string) => item}
  </template>
</Section>
