---
import CheckIcon from '@lucide/astro/icons/check'
import SkillsIcon from '@lucide/astro/icons/swords'

import Section from '@/features/resume/components/ui/Section.astro'

export interface Props {
  skills: string[]
}

const { skills, ...delegated } = Astro.props satisfies Props
---

<Section
  items={skills}
  itemsClass="columns-2 sm:columns-3"
  title="Skills"
  icon={SkillsIcon}
  {...delegated}
>
  <template slot="item">
    {
      (item: string) => (
        <div class="flex items-center gap-2">
          <CheckIcon class="size-4 text-primary-600" />
          <span>{item}</span>
        </div>
      )
    }
  </template>
</Section>
