@import 'tailwindcss';

/*
TODO: Consider prose component
https://docs.astro.build/en/recipes/tailwind-rendered-markdown/
*/
@plugin '@tailwindcss/typography';

@theme {
  --breakpoint-xl: 1280px;
  --breakpoint-lg: 1080px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --breakpoint-xs: 420px;
  --max-height-site: 720px;
  --spacing-30vw: 30vw;
  --transition-delay-0: 0ms;
  --transition-duration-0: 0ms;

  /* Default Colors */
  --color-black: black;
  --color-current: currentColor;
  --color-error: red;
  --color-gray: neutral;
  --color-inherit: inherit;
  --color-transparent: transparent;
  --color-white: white;

  --color-primary-50: #fafaf9;
  --color-primary-100: #f5f5f4;
  --color-primary-200: #e7e5e4;
  --color-primary-300: #d6d3d1;
  --color-primary-400: #c6c6bd;
  --color-primary-500: #abab9d;
  --color-primary-600: #7c8169;
  --color-primary-700: #3e504f;
  --color-primary-800: #3a401f;
  --color-primary-900: #122023;
}

/* CSS Variables for Theme Colors */
:root {
  @apply transition-colors;
}

html:has(div[data-theme='blue']) {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #072b40;
}

html:has(div[data-theme='purple']) {
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #7a7df3;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #1c1a49;
}

html:has(div[data-theme='yellow']) {
  --color-primary-50: #fefce8;
  --color-primary-100: #fef9c3;
  --color-primary-200: #fef08a;
  --color-primary-300: #fde047;
  --color-primary-400: #facc15;
  --color-primary-500: #eab308;
  --color-primary-600: #ca8a04;
  --color-primary-700: #a16207;
  --color-primary-800: #854d0e;
  --color-primary-900: #45260b;
}

html:has(div[data-theme='green']) {
  --color-primary-50: #ffffff;
  --color-primary-100: #fafdf9;
  --color-primary-200: #dbeecd;
  --color-primary-300: #bcdfa1;
  --color-primary-400: #9cd075;
  --color-primary-500: #7dc149;
  --color-primary-600: #49a24c;
  --color-primary-700: #15824e;
  --color-primary-800: #175c35;
  --color-primary-900: #18351c;
}

html:has(div[data-theme='orange']) {
  --color-primary-50: #fff7ed;
  --color-primary-100: #ffedd5;
  --color-primary-200: #fed7aa;
  --color-primary-300: #fdba74;
  --color-primary-400: #fb923c;
  --color-primary-500: #f97316;
  --color-primary-600: #ea580c;
  --color-primary-700: #c2410c;
  --color-primary-800: #9a3412;
  --color-primary-900: #4f1d0c;
}

@utility max-w-screen-xl {
  max-width: var(--breakpoint-xl);
}

/* Typography plugin customizations */
@layer base {
  .prose a {
    @apply text-current;
  }
}

/* Site Layout
------------------------------------------------------------------------------*/
@layer base {
  .site {
    &:before {
      content: '';
      float: left;
      padding-top: 56.25%;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

/* Entry
------------------------------------------------------------------------------*/
@layer components {
  .entry {
    @apply flex flex-col;
  }

  .entry__header {
    text-shadow:
      -3px -3px 10px var(--color-primary-500),
      3px -3px 15px var(--color-primary-500),
      -3px 3px 10px var(--color-primary-500),
      3px 3px 15px var(--color-primary-500);
  }

  .entry__body {
    @apply flex flex-col;
  }

  .entry__media {
    @apply order-1;
  }

  .entry__content {
    a {
      @apply border-b-2 border-primary-500 text-inherit no-underline;
    }
  }

  .entry__nav {
    @apply order-1;
  }

  @media (width >= theme(--breakpoint-xs)) {
    .entry__body {
      display: grid;
      grid-area: entry__body;
      grid-template-columns: 1.4fr 0.6fr;
      grid-template-rows: 1.2fr 0.8fr;
      grid-template-areas:
        'entry__content entry__media'
        'entry__content entry__media';
    }

    .entry__content {
      grid-area: entry__content;
    }

    .entry__media {
      grid-area: entry__media;
    }
  }

  @media (width >= theme(--breakpoint-lg)) {
    .entry {
      display: grid;
      grid-area: entry;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1.1fr 1.1fr 0.8fr;
      grid-template-areas:
        'entry__header  entry__header  entry__body  entry__body'
        'entry__header  entry__header  entry__body  entry__body'
        'entry__nav     entry__nav     entry__body  entry__body';
    }

    .entry__body {
      display: grid;
      grid-area: entry__body;
      grid-template-columns: 1.4fr 0.6fr;
      grid-template-rows: 1.2fr 0.8fr;
      grid-template-areas:
        'entry__media entry__media'
        'entry__media entry__media';
    }

    .entry__content {
      grid-area: 2 / 1 / 3 / 3;
    }

    .entry__header {
      grid-area: entry__header;
    }

    .entry__media {
      grid-area: entry__media;
    }

    .entry__nav {
      grid-area: entry__nav;
    }
  }

  @media (width >= theme(--breakpoint-xl)) {
    .entry__content {
      grid-area: 2 / 1 / 3 / 2;
    }
  }
}

/* Numbered List
------------------------------------------------------------------------------*/
@utility numbered-list {
  counter-reset: list-number;
  text-shadow: none;

  a:before {
    counter-increment: list-number;
    content: counter(list-number);
  }
}
