---
import Heading from '@/components/Heading.astro'
import Link from '@/components/Link.astro'

const { title } = Astro.props

const contactLinks = [
  { href: 'mailto:thelukemcdonald@gmail.com', name: 'Email' },
  { href: 'https://github.com/lukemcdonald', name: 'GitHub' },
  { href: 'https://www.linkedin.com/in/thelukemcdonald/', name: 'LinkedIn' },
]
---

<div class="entry__nav bg-white px-5 py-10 text-primary-900 sm:px-10 lg:py-8 xl:py-12">
  <Heading
    as="h2"
    class="mb-6"
    size="3xl"
    weight="normal"
  >
    {title || 'Connect.'}
  </Heading>

  <nav class="flex items-center">
    {
      contactLinks.map((link) => (
        <>
          <Link
            class="block tracking-wide uppercase"
            href={link.href}
            weight="medium"
          >
            {link.name}
          </Link>
          <hr class="mx-4 block w-full max-w-24 text-primary-200 last:hidden dark:text-primary-900/25" />
        </>
      ))
    }
  </nav>
</div>
