---
import GreetingLinks from '@/components/GreetingLinks.astro'

export interface Props {
  description: string
}

const { description } = Astro.props

const descriptionComponents = {
  GreetingLinks,
}
const DescriptionComponent =
  descriptionComponents[description as keyof typeof descriptionComponents]
const isDescriptionComponent = Boolean(DescriptionComponent)
---

<div class="text-lg leading-normal">
  {isDescriptionComponent && <DescriptionComponent />}
  {!isDescriptionComponent && <slot set:html={description} />}
</div>
