---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  pages: CollectionEntry<'i-am-a'>[]
}

const { pages } = Astro.props

const linkStyles =
  'relative flex items-center rounded-sm bg-black/0 bg-transparent p-1.5 pr-3 leading-none transition hover:bg-black/50'

const linkNumberStyles =
  'before:mr-3 before:inline-flex before:h-6 before:w-7 before:-skew-y-6 before:transform before:items-center before:justify-center before:bg-primary-900 before:text-xs before:font-semibold before:leading-none before:text-primary-500'
---

<nav>
  <ol class="numbered-list inline-flex flex-col">
    {
      pages.map((page) => (
        <li>
          <a
            class={`${linkStyles} ${linkNumberStyles}`}
            href={`/i-am-a/${page.id}`}
          >
            {page.data.title}
          </a>
        </li>
      ))
    }
  </ol>
</nav>
