---
import { getPublishedPages } from '@/features/pages/pages.server'

const INCLUDE_PAGES = ['i-am-a']

const pages = await getPublishedPages({
  include: INCLUDE_PAGES,
  sortBy: 'order',
})

const linkStyles =
  'relative flex items-center rounded-sm bg-black/0 bg-transparent p-1.5 pr-3 leading-none transition hover:bg-black/5'

const linkNumberStyles =
  'before:mr-3 before:inline-flex before:h-6 before:w-7 before:-skew-y-6 before:transform before:items-center before:justify-center before:bg-primary-900 before:text-xs before:font-semibold before:leading-none before:text-primary-500'
---

<nav>
  <ol class="inline-flex flex-col numbered-list">
    {
      pages.map((page) => {
        return (
          <li>
            <a
              class={`${linkStyles} ${linkNumberStyles}`}
              href={`/${page.id}`}
            >
              {page.data.title}
            </a>
          </li>
        )
      })
    }
  </ol>
</nav>
