---
import Heading from '@/components/Heading.astro'
import Logo from '@/components/Logo.astro'
import Navigation from '@/components/Nav/Nav.astro'
import { GLOBAL_CONFIG } from '@/configs/global'
---

<header
  class="site-header absolute top-0 left-0 z-50 flex w-full items-center gap-2 p-5 sm:gap-4 lg:w-1/2"
>
  <a
    class="group peer relative z-10 inline-flex items-center bg-white text-white no-underline hover:shadow-lg"
    href="/"
  >
    <Logo class="h-16 w-16 bg-primary-900 fill-current p-4" />

    <Heading
      as="h1"
      size="xl"
      class="absolute left-16 flex h-16 max-w-0 items-center overflow-hidden bg-white px-0 tracking-wide whitespace-nowrap uppercase shadow-lg transition-all duration-150 group-hover:max-w-6xl group-hover:px-4 group-hover:duration-300"
    >
      {GLOBAL_CONFIG.name}
    </Heading>
  </a>

  <Navigation />
</header>
