---
import Heading from '@/components/Heading.astro'
import Logo from '@/components/Logo.astro'
import NavMenu from '@/components/NavMenu.tsx'
import { SITE } from '@/configs/site'
import { getPublishedPages } from '@/utils/content/pages'

type MenuLinkItem = {
  name: string
  href: string
}

interface MenuLink extends MenuLinkItem {
  links?: MenuLinkItem[]
}

const workLinks: MenuLink[] = [{ name: 'Resume', href: '/resume' }]

const playLinks: MenuLink[] = [{ name: 'TREAD Talks', href: 'https://gettreadtalks.com/' }]

const livePages = await getPublishedPages({
  include: ['i-am-a'],
  sortBy: 'order',
})

const liveLinks: MenuLink[] = livePages.map((page) => ({
  name: page.data.title,
  href: `/${page.id}`,
}))

const menuLinks: MenuLink[] = [
  { name: 'Work', href: '#', links: workLinks },
  { name: 'Play', href: '#', links: playLinks },
  { name: 'Live', href: '#', links: liveLinks },
]
---

<header
  class="site-header absolute top-0 left-0 z-50 flex w-full items-center gap-2 p-5 sm:gap-4 lg:w-1/2"
>
  <a
    class="group peer relative z-10 inline-flex items-center bg-white text-white no-underline hover:shadow-lg"
    href="/"
  >
    <Logo class="h-16 w-16 bg-primary-900 fill-current p-4" />

    <Heading
      as="h1"
      size="xl"
      class="absolute left-16 flex h-16 max-w-0 items-center overflow-hidden bg-white px-0 tracking-wide whitespace-nowrap uppercase shadow-lg transition-all duration-150 group-hover:max-w-6xl group-hover:px-4 group-hover:duration-300"
    >
      {SITE.name}
    </Heading>
  </a>

  <nav class="duration-200 peer-hover:opacity-0 peer-hover:delay-0 peer-hover:duration-0">
    {
      menuLinks.map((menuLink) => (
        <NavMenu
          client:load
          link={menuLink}
        />
      ))
    }
  </nav>
</header>
