---
import { ExternalLink as ExternalLinkIcon } from 'lucide-react'

const { children, showExternalIcon, ...delegated } = Astro.props
---

<a {...delegated}>
  {children}
  {showExternalIcon && <ExternalLinkIcon className="float-right ml-2 h-4 w-4 opacity-40" />}
</a>
