@import 'tailwindcss';
@import './theme.css';
@import './typography.css';
@import './layout.css';

:root {
  @apply transition-colors;
}

html:has(dialog[open]),
html:has(dialog[open]) body {
  @apply overflow-hidden overscroll-none;
}

@media (prefers-reduced-motion: no-preference) {
  [data-mobile-menu-dialog] {
    transition:
      display 200ms allow-discrete,
      overlay 200ms allow-discrete;
  }

  [data-mobile-menu-sheet] {
    translate: 0 100%;
    transition: translate 200ms ease-out;
  }

  [data-mobile-menu-dialog][open] [data-mobile-menu-sheet] {
    translate: 0 0;
  }

  @starting-style {
    [data-mobile-menu-dialog][open] [data-mobile-menu-sheet] {
      translate: 0 100%;
    }
  }

  [data-nav-menu-panel] {
    transform-origin: top left;
    transition:
      display 100ms allow-discrete,
      opacity 100ms ease-out,
      overlay 100ms allow-discrete,
      transform 100ms ease-out;
  }

  [data-nav-menu-panel]:not(:popover-open) {
    opacity: 0;
    transform: scale(0.95);
  }

  @starting-style {
    [data-nav-menu-panel]:popover-open {
      opacity: 0;
      transform: scale(0.95);
    }
  }
}

[data-nav-menu-panel] {
  inset: unset;
  left: calc(anchor(left) - 0.375rem);
  margin: 0;
  overflow: visible;
  position: absolute;
  top: calc(anchor(bottom) + 0.375rem);
}
