---
import type { MetaData } from '@/utils/meta'
import { SITE } from '@/configs/site'
import Head from '@/components/Head.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'
import '@/styles/global.css'

export type Props = MetaData

const { generator, props, url } = Astro

const {
  author = SITE.author,
  canonicalUrl = new URL(url.pathname, url),
  dir = SITE.dir,
  lang = SITE.lang ?? 'en',
  title = SITE.name,
  ...siteMeta
} = props

const meta: MetaData = {
  author,
  canonicalUrl: canonicalUrl.toString(),
  dir,
  lang,
  title,
  ...siteMeta,
}
---

<!doctype html>
<html
  dir={dir}
  lang={lang}
>
  <head>
    <Head
      generator={generator}
      meta={meta}
    />
  </head>
  <body>
    <ThemeProvider theme="gray">
      <slot />
    </ThemeProvider>
  </body>
</html>
