---
import type { MetaData } from '@/utils/meta'
import { GLOBAL_CONFIG } from '@/configs/global'
import Head from '@/layouts/Head.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'

import '@/styles/global.css'

export type Props = MetaData

const { generator, props, site, url } = Astro

const canonicalUrl = new URL(url.pathname, site ?? url).href

const {
  author = GLOBAL_CONFIG.author,
  dir = GLOBAL_CONFIG.dir,
  lang = GLOBAL_CONFIG.lang ?? 'en',
  title = GLOBAL_CONFIG.name,
  ...siteMeta
} = props

const meta: MetaData = {
  author,
  canonicalUrl,
  dir,
  lang,
  title,
  ...siteMeta,
}
---

<!doctype html>
<ThemeProvider
  as="html"
  dir={dir}
  lang={lang}
>
  <Head
    generator={generator}
    meta={meta}
  />

  <body>
    <slot />
  </body>
</ThemeProvider>
