---
import type { MetaData } from '@/utils/meta'
import { GLOBAL_CONFIG } from '@/configs/global'
import Head from '@/layouts/Head.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'

import '@/styles/global.css'

export type Props = MetaData

const { generator, props, url } = Astro

// Use Astro.site for dynamic URL logic when available
const canonicalUrl = new URL(url.pathname, Astro.site || url)

const {
  author = GLOBAL_CONFIG.author,
  dir = GLOBAL_CONFIG.dir,
  lang = GLOBAL_CONFIG.lang ?? 'en',
  title = GLOBAL_CONFIG.name,
  ...siteMeta
} = props

const meta: MetaData = {
  author,
  canonicalUrl: canonicalUrl.toString(),
  dir,
  lang,
  title,
  ...siteMeta,
}
---

<!doctype html>
<html
  dir={dir}
  lang={lang}
>
  <Head
    generator={generator}
    meta={meta}
  />
  <body>
    <ThemeProvider theme="default">
      <slot />
    </ThemeProvider>
  </body>
</html>
