---
import { Image } from 'astro:assets'

import backgroundImage from '@/assets/images/landscape-tree-fog.jpg'
import Header from '@/components/Header.astro'
---

<div class="dark:bg-primary-950 bg-primary-50 lg:grid">
  <Image
    alt=""
    class="absolute top-1/2 left-1/2 hidden h-full max-h-screen w-full -translate-x-1/2 -translate-y-1/2 transform overflow-hidden object-cover opacity-20 blur-xs grayscale lg:block dark:opacity-15"
    fetchpriority="low"
    loading="lazy"
    quality={70}
    src={backgroundImage}
    style="grid-area: 1/1"
  />
  <div
    class="place-items-center text-primary-900 lg:relative lg:flex lg:min-h-screen lg:items-center lg:justify-center"
    style="grid-area: 1/1"
  >
    <div
      class="site relative m-auto bg-white lg:max-h-site lg:w-11/12 lg:max-w-screen-xl lg:shadow-2xl"
    >
      <Header />
      <main class="lg:flex lg:h-screen lg:max-h-site">
        <slot />
      </main>
    </div>
  </div>
</div>
