---
import { getPublishedPages } from '@/features/pages/pages.server'

import NavMenu from './NavMenu'

type MenuLinkItem = {
  name: string
  href: string
}

interface MenuLink extends MenuLinkItem {
  links?: MenuLinkItem[]
}

const workLinks: MenuLink[] = [{ href: '/resume', name: 'Resume' }]

const playLinks: MenuLink[] = [{ href: '/tread-talks', name: 'TREAD Talks' }]

const livePages = await getPublishedPages({
  include: ['i-am-a'],
  sortBy: 'order',
})

const liveLinks: MenuLink[] = livePages.map((page) => ({
  href: `/${page.id}`,
  name: page.data.title,
}))

const menuLinks: MenuLink[] = [
  { href: '#', links: workLinks, name: 'Work' },
  { href: '#', links: playLinks, name: 'Play' },
  { href: '#', links: liveLinks, name: 'Live' },
]
---

<nav class="duration-200 peer-hover:opacity-0 peer-hover:delay-0 peer-hover:duration-0">
  {
    menuLinks.map((menuLink) => (
      <NavMenu
        client:idle
        link={menuLink}
      />
    ))
  }
</nav>
