---
import NavMenu from './NavMenu'
import { getPublishedPages } from '@/utils/content/pages'

type MenuLinkItem = {
  name: string
  href: string
}

interface MenuLink extends MenuLinkItem {
  links?: MenuLinkItem[]
}

const workLinks: MenuLink[] = [{ name: 'Resume', href: '/resume' }]

const playLinks: MenuLink[] = [{ name: 'TREAD Talks', href: '/tread-talks' }]

const livePages = await getPublishedPages({
  include: ['i-am-a'],
  sortBy: 'order',
})

const liveLinks: MenuLink[] = livePages.map((page) => ({
  name: page.data.title,
  href: `/${page.id}`,
}))

const menuLinks: MenuLink[] = [
  { name: 'Work', href: '#', links: workLinks },
  { name: 'Play', href: '#', links: playLinks },
  { name: 'Live', href: '#', links: liveLinks },
]
---

<nav class="duration-200 peer-hover:opacity-0 peer-hover:delay-0 peer-hover:duration-0">
  {
    menuLinks.map((menuLink) => (
      <NavMenu
        client:idle
        link={menuLink}
      />
    ))
  }
</nav>
