---
import Heading from '@/components/Heading.astro'

interface EducationItem {
  area?: string
  institution: string
  studyType?: string
}

interface Props {
  education: EducationItem[]
}

const { education } = Astro.props
---

{
  education.length > 0 && (
    <section class="print:mt-6">
      <Heading
        as="h2"
        size="xl"
      >
        Education
      </Heading>
      <ul class="space-y-1">
        {education.map((item: EducationItem) => (
          <li>
            {item.studyType} {item.area ? `${item.area} ` : ''}— {item.institution}
          </li>
        ))}
      </ul>
    </section>
  )
}
