---
import Section from '@/pages/resume/components/ui/Section.astro'

interface EducationItem {
  area?: string
  institution: string
  studyType?: string
}

interface Props {
  education: EducationItem[]
}

const { education } = Astro.props
---

<Section
  title="Education"
  items={education}
>
  <template slot="item">
    {
      (item: EducationItem) => (
        <>
          {item.studyType}
          {item.area ? `${item.area} ` : ''}— {item.institution}
        </>
      )
    }
  </template>
</Section>
