---
import Section from '@/pages/resume/components/ui/Section.astro'
import { Signature as PersonalIcon } from 'lucide-astro'

interface Props {
  personal: string[]
}

const { personal } = Astro.props
---

<Section
  title="Personal"
  items={personal}
  icon={PersonalIcon}
>
  <template slot="item">
    {(item: string) => item}
  </template>
</Section>
