---
import Section from '@/pages/resume/components/ui/Section.astro'

interface Props {
  personal: string[]
}

const { personal } = Astro.props
---

<Section
  title="Personal"
  items={personal}
>
  <template slot="item">
    {(item: string) => item}
  </template>
</Section>
