---
import Section from '@/pages/resume/components/ui/Section.astro'

interface Props {
  skills: string[]
}

const { skills } = Astro.props
---

<Section
  title="Skills"
  items={skills}
>
  <template slot="item">
    {(item: string) => item}
  </template>
</Section>
