---
import Section from '@/pages/resume/components/ui/Section.astro'
import { Check as CheckIcon } from 'lucide-astro'
import { Swords as SkillsIcon } from 'lucide-astro'

interface Props {
  skills: string[]
}

const { skills, ...delegated } = Astro.props satisfies Props
---

<Section
  items={skills}
  itemsClass="columns-2 sm:columns-3"
  title="Skills"
  icon={SkillsIcon}
  {...delegated}
>
  <template slot="item">
    {
      (item: string) => (
        <div class="flex items-center gap-2">
          <CheckIcon className="text-primary-400 size-4" />
          <span>{item}</span>
        </div>
      )
    }
  </template>
</Section>
